body {
    font-family: "serif";
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
    text-align: left;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #cecece; /* Borda inferior */
    padding-bottom: 5px; /* Espaçamento na parte inferior do título */
}

p {
    font-size: 16px;
    color: #555;
    margin: 4px;
}

ul {
    /*list-style-type: none;*/
    /*padding: 0;*/
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}