@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
    --background-color: #262626;
    --cor-primaria: #e2e2e2;
    --cor-secundaria: #555555;
    --fonte-titulo: "Fira Sans", "sans-serif";
    --fonte-subtitulo: "Playfair Display", "serif";
    --fonte-texto: "Fira Sans", "serif";    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    background-color: var(--background-color);
    color: var(--cor-primaria);
    padding: 2em 15%;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.idioma__icone {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.idioma__icone img {
    width: 100%;
    height: 100%;
}

.idioma__icone:hover {
    opacity: 0.8;
}

.info__pessoais {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2em;
}

.imagem-perfil-grande {
    width: 20em;
    border-radius: 15px;
}

.imagem-perfil-circulo {
    display: none;
}

.container__infos {
    text-align: left;
}

.container__imagem-nome {
    margin-bottom: 1em;
}

.links__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.links__item {
    color: var(--cor-primaria);
    text-decoration: none;
    border: 1.5px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 0.5em 1em;
    display: flex;
    gap: 5px;
    align-items: center;
}

i {
    margin-bottom: 3.5px;
}

.links__item:hover {
    background-color: var(--cor-primaria);
    color: var(--background-color);
    transition: all 0.3s ease;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.2em;
    padding: 1em 0 0.2em 0;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--cor-secundaria);
}

.nome {
    font-family: var(--fonte-titulo);
    font-size: 2.2em;
    padding-bottom: 0.2em;
    margin: 0.5em 0 0.2em 0;
    border-bottom: 1px solid var(--cor-secundaria);
}

.descricao {
    font-family: var(--fonte-subtitulo);
    font-size: 1.2em;
}

.subtitulo {
    font-family: var(--fonte-subtitulo);
    font-size: 1.4em;
    margin-top: 1em;
}

p {
    font-family: var(--fonte-texto);
    font-size: 1em;
    margin: 1em 0;
}

.habilidade__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
}

.habilidade__item {
    border: 1.5px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-top: 1em;
    list-style-type: none;
}

.cursos__container, .projetos__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0em 4em;
 }

.cursos__item, .projetos__item {
    color: var(--cor-primaria);
    border: 1.5px solid var(--cor-primaria);
    border-radius: 10px;
    padding: 1em 2em;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    margin: 1em 0;
}

.cursos__item:hover,
.projetos__item:hover {
    background-color: var(--cor-primaria);
    color: var(--background-color);
    transition: all 0.3s ease;
}

a {
    color: var(--cor-primaria);
}

.link__texto:hover {
    background-color: var(--cor-primaria);
    color: var(--background-color);
    transition: all 0.3s ease;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {

    .imagem-perfil-grande {
        display: none;
    }

    .imagem-perfil-circulo {
        width: 10em;
        display:inline-block;
        margin-top: 1em;
    }

    .container__imagem-nome {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
        text-align: center;
    }

}

@media screen and (max-width: 805px) {

    body {
        padding: 1em 5%;
    }

    .cursos__container, .projetos__container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .titulo {
        font-size: 1.8em;
    }

}
